#header {
    height: 80px;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px rgba(22,26,33,.2) solid !important; 
}

#navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-list__right,
.nav-list__left{
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.nav-item:hover,
.nav-item__link:hover {
    cursor: pointer;
}
.nav-item,
.nav-item__link {
    display: flex  ;
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 300;
    align-items: center;
}
.nav-item__link {
    font-size: 1.6rem;
    padding: 8px;
}
.logo {
    align-items: center;
    margin: auto;
}

.dropup-content {
    display: none;
    position: fixed;
    background-color: var(--bg-color);
    min-width: 160px;
    line-height: 40px;
    top: 80px;
    z-index: 3;
    text-transform: none;
    color: var(--text-color);
    font-weight: 400;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    animation: tranforms 0.3s linear;
}
@keyframes tranforms {
    from {
        transform: translateY(-8px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.dropup-content a {
    color: black;
    text-align: left;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dropup-content a:hover {
    background-color: rgba(204, 204, 204, 0.6);
}
  
.dropup:hover .dropup-content {
    display: block;
}

.nav-item__left:hover::before{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #000;
    position: absolute;
    top: 78px;
}

.nav-item__left:hover::after{
    content: "";
    border-width: 10px 12px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    margin: 0 auto;
    left: calc(50% - 12px);
    top: 60px;
}

.nav-item__product--tab {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 80px;
    left: 0;
    height: 300px;
    border-bottom: #ccc 1px solid;
    cursor: default;
    animation: tranforms ease-in 0.3s;
    z-index: 5;
    background-color: var(--bg-color);
}
.overlay {
    top: 80px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.nav-item__left:hover .nav-item__product--tab{
    display: flex;
}
.nav-item__product--tab button.active {
    background-color: #ccc;
}

.nav-item__product--tab button.non-active {
    background-color: var(--bg-color);
}

.nav-item__product--tab-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    color: var(--text-color);
    width: 300px;
    padding: 22px 16px;
    padding-left: 24px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 3rem;
    text-transform: uppercase;
    font-family:'Montserrat';
    font-weight: 600;
}

.nav-item__product--tab-link:hover {
    background-color: #ddd;
}

.nav-item__product--tab-icon {
    font-size: 1.8rem;
}

.subnav-product__tabcontent {
    display: flex;
    position: fixed;
    top: 80px;
    left: 300px;
    right: 0;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
    margin-bottom: 30px;
    background-color: var(--bg-color);
    z-index: 10;
    animation: fadeIn ease-in 0.3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.watch-list-men,
.watch-list-women {
    position: fixed;
    height: 300px;
    top: 80px;
    right: 0;
    left: 300px;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 0;
    margin-bottom: 30px;
    cursor: default;
    display: none;
    /* background-color: aqua; */
    border-left: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    z-index: 3;
}

.watch-item {
    width: 180px;
    text-decoration: none;
    color: var(--text-color);
    transition: ease-in 0.3s ;
}

.watch-item:hover{
    transform: translateY(-2px);
}
.watch-img {
    width: 160px;
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 50%;
}

.watch-item .watch-name {
    margin-top: 16px;
    font-size: 1.4rem;
}

.all {
    font-size: 1.4rem;
}
.all:hover {
    opacity: 0.7;
}
.all-icon {
    padding: 8px;
    margin-top: 4px;
}

.watch-chain-men,
.watch-chain-women{
    height: 300px;
    position: fixed;
    top: 80px;
    left: 300px;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8px;
    margin-bottom: 30px;
    /* background-color: red; */
    cursor: default;
    border-left: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    display: none;
}
.watch-chain--img{
    width: 270px;
}

.watch-chain--container {
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.watch-chain--text {
    margin-bottom: 30px;
    text-align: left;
    text-transform:none;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
}

.watch-chain--purchase-btn{
    width: 70%;
    text-align: center;
    height: 36px;
    background-color: var(--text-color);
    color: #fff;
    font-weight: 600;
}

.watch-chain--purchase-btn:hover {
    color: #ccc;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.cart-modal {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    /* transform: translateX(100%); */
    display: none;
    z-index: 2;
    animation: transform_cart 0.2s linear;
}

@keyframes transform_cart {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0)
    }
}
.cart-modal-container {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) ;
}

.cart-modal-header {
    height: 80px;
    background-color: var(--text-color);
    color: #ffff;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    letter-spacing: -.02em;
    font-size: 2rem;
    padding: 0 30px;
}

.cart-modal-header .cart-modal-close-icon{
    font-size: 1.4rem;
    padding: 8px;
}
.cart-modal-header .cart-modal-close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}
.cart-modal-body {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 160px 30px;
}

.cart-modal-body .cart-info {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .02em;
    text-align: center;

}

.cart-modal-body .cart-buy-btn {
    width: 100%;
    height: 50px;
    background-color: #161a21;
    font-family: 'Montserrat';
    color: #ffff;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}

.cart-modal-body .cart-buy-btn:hover {
    color: #ccc;
    cursor: pointer;
}
.cart-buy-icon {
    font-size: small;
    padding: 8px;
}

/* .cart-input:checked~.cart-modal {
    display: flex;
    transform: translateX(0%);
} */

.nav-overlay__cart,
.nav-overlay__search,
.nav-overlay__account {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn_overlay 0.3s linear;

}
@keyframes fadeIn_overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .cart-input:checked~.nav-overlay__cart {
    display: block;
    z-index: 2;
} */

.search-modal {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    height: auto;
    background-color: var(--bg-color);
    animation: fadeIn_search 0.3s linear;
    display: none;
}
@keyframes fadeIn_search {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.search-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.search-header .search-input {
    width: 570px;
    font-family: 'Montserrat';
    border:none;
    outline: none;
    height: 35px;
    border-bottom: var(--text-color) 1px solid;
    padding-left: 8px;
    background: transparent;
    border-radius: 0;
}
.search-icon__close {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
    border-bottom: 1px #000 solid;
    position: absolute;
    right: 180px;
    top: 40px;
    cursor: pointer;
}
.search-body .search-body__title{
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 35px 0 20px;
    opacity: 0.6;

}

.search-body .search-body__item {
    font-size: 1.4rem;
    color: #000;
    margin: 14px 0 20px;
    text-align: center;
}
.nav-overlay__search {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    /* animation: fadeIn_overlay 0.3s linear; */
}
/* .search-check:checked~ .search-modal {
    display: block;
}
.search-check:checked~ .nav-overlay__search {
    display: block;
} */

.account-modal {
    position: fixed;
    height: auto;
    left: 0;
    right: 0;
    top: 80px;
    background-color: var(--bg-color);
    animation: fadeIn_search ease-in 0.3s;
    display: none;
    justify-content: center;
}

.account__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
}

.account__header--close{
    position: absolute;
    right: 30%;
    top: 0;
    margin-top: 8px;
    padding: 12px 12px;
    font-size: 2rem;
    opacity: 0.7;
}
.account__header--close:hover{
    cursor: pointer;
    opacity: 1;
}
.account__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.account__header .account__header--title{
    padding: 16px 0;
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
}

.account__header .account__header--text {
    font-size: 1.4rem;
    margin-bottom: 24px;
}
.account__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.account__body .account__body--input {
    padding: 12px;
    margin-bottom: 24px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 3px;
    outline: none;
    border: #ccc 1px solid;
}

.account__body .account__body--login-btn {
    height: 50px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--text-color);
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: 500;
}

.account__body .account__body--login-btn:hover {
    color: #ccc;
    cursor: pointer;
}
.account__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 1.2rem;
}

.account__footer .account__footer--text {
    margin-bottom: 8px;
}

.account__footer--link {
    text-decoration: none;
    color: blue;
}

.account__footer--link:hover {
    opacity: 0.6;
}

/* .account-check:checked~ .account-modal{
    width: auto;
    display: flex;
}

.account-check:checked~ .nav-overlay__account{
    display: block;
} */